.box_cont{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 80% 10%;
}


.cards_cont{
display: grid;
grid-template-columns: 25% 25% 25% 25%;
background-color: rgba(0, 0, 0, 0);
place-items: center;
}

.page_cont{
display: grid;
margin-top: 10px;
background-color: rgba(0, 21, 255, 0);
}


@media (max-width: 720px) { 

.cards_cont{
display: grid;
grid-template-columns: 45% 45%;
background-color: rgb(0, 0, 0, 0);
margin-left: 5%;
margin-top: 38%;
gap: 30px;
}   

.page_cont{
    display: grid;
    margin-top: 10px;
    background-color: rgba(0, 21, 255, 0);
}

}

@media (max-width: 570px) { 

.cards{
           
color: white;
/* overflow: auto; */
}

    
.paginado{
background-color: rgb(0, 255, 42);
}

}
  
@media (max-width: 375px) { 

.cards{           
color: white;
/* overflow: auto; */       }
.cards_cont{
padding-left: 10px;
}
    
.paginado{
background-color: rgb(0, 255, 42);
}

}


 @media (max-width: 360px) {

.cards{
           
color: white;
/* overflow: auto; */
}
.cards_cont{
padding-left: 10px;
}
    
.paginado{
        
background-color: rgb(0, 255, 42);
}

}